.vscode/
__pycache__
logs/*
sample/
debug/*
data/*
*/data/*
config/*
*/runs/*
runs/
debug/*
ssigalpr_samples/
#*.jpg
#*.JPG
#*.jpeg
*.png
*.bmp
*.tfrecord
*.pyc
log*.txt
*.cfg
*.weights
*.pkl
*.h5
*.zip
*.xls
*.db
*.pt
*.csv
*.json
*.pth
