.vscode/
__pycache__
logs/*
sample/
debug/*
data/*
*/data/*
config/*
*/runs/*
*/EMNISTNet/data/*
*/EMNISTNet/custom_dataset/*
*/EMNISTNet/mini_custom_dataset/*
runs/
debug/*
#*.jpg
#*.JPG
#*.jpeg
*.png
*.bmp
*.tfrecord
*.pyc
log*.txt
*.cfg
*.weights
*.pkl
*.h5
*.zip
*.xls
*.db
*.gif
*.pt
*.csv
*.json
*.pth
